path {
  stroke-width: 3;
  stroke: #ffffff;
}

stop {
  transition: all var(--transition-duration) ease;
}

.flower {
  opacity: 0;
}

.flower#center {
  opacity: 1;
  transform: translate(-50%, -50%);
  z-index: 20;
}
