path {
  stroke-width: 4;
  stroke: url(#stroke-fill);
  fill: url(#bg-fill);
}

stop {
  transition: all var(--transition-duration) ease;
}

svg {
  opacity: 0;
}

svg#center {
  opacity: 1;
  transform: translate(-50%, -50%);
  z-index: 20;
}
