@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --opacity-fill-outer: 1;
  --fill-outer: rgb(224, 250, 255, var(--opacity-fill-outer));
  --opacity-fill-inner: 1;
  --fill-inner: rgb(103, 183, 210, var(--opacity-fill-inner));
  --html-bg: #383e42;
  --html-color: #f2f2f2;
  --anim-duration: 5s;
}

html {
  background: var(--html-bg);
  color: var(--html-color);
}
